.dropdown {
    width: auto;
    height: auto;
    position: relative;

    &__header {
        width: auto;
        height: auto;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $gap-10;
        font-size: $text-base;
        border: 1px solid;
        border-radius: $rounded-md;
        box-shadow: $shadow-md;
        color: black;
        cursor: pointer;
        transition: 0.3s all;
    }

    &__body {
        width: 100%;
        height: auto;
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        background-color: white;
        border: 1px solid;
        border-radius: $rounded-md;
        box-shadow: $shadow-md;
        color: black;
        cursor: pointer;
        transition: 0.3s all;
        z-index: 1;
        overflow: hidden;
    }

    .dropdown__list {
        width: $full;
        height: auto;

        &-item {
            width: $full;
            height: auto;
            padding: 15px 10px;

            &:hover {
                background: gray;
                color: white;
            }
        }
    }

    .tab__icon {
        color: $bg-dark;
    }

    &.active {
        border: $bg-dark 1px solid;
        background-color: $bg-dark;
        color: white;

        .tab__icon {
            color: white;
        }
    }

    &:hover .tab__label {
        transition: 0.3s all;
        color: gray;
    }

    &.active:hover {
        background-color: #262626fa;

        & .tab__label {
            color: white;
        }
    }

}