
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: 0.3s all;
    color: $color-main;

    &:hover {
        color: rgb(179, 9, 9);
    }
}

fieldset {
    padding: 0;
    border: none;
}

.container {
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    // mx-auto xl:px-20 md:px-10 sm:px-2 px-4
}



