
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 0.08rem;
}

body {
    padding: 0 calc(20px - (100vw - 100%)) 0 0; 

    @include _lg {
        padding: 0px;
    }
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: 0.3s all;
    color: $color-main;

    &:hover {
        color: rgb(179, 9, 9);
    }
}

fieldset {
    padding: 0;
    border: none;
}

.container {
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    // mx-auto xl:px-20 md:px-10 sm:px-2 px-4
}


.title {
    margin-bottom: 40px;
    font-size: $text-2xl;
    font-weight: bold;
    // mb-6 text-lg font-bold md:text-xl xl:text-2xl text-heading xl:mb-8
}

// Swiper 

.swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
}

.swiper-pagination-bullet-active {
    background: $bg-dark !important;
}


