// .price-range {
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: $full;
//     width: 600px;
//     height: 80px;
//     background-color: white;

//     & input[type="number"] {
//         width: 50px;
//         height: 30px;
//         background-color: white;
//         border: 1px solid $color-main;
//         font-size: 15px;
//         font-weight: 700;
//         text-align: center;
//         border-radius: 5px;
//     }

//     & input[type="number"]::-webkit-outer-spin-button, 
//     & input[type="number"]::-webkit-inner-spin-button {
//         -webkit-appearance: none;
//     }

//     & .range-slider {
//         position: relative;
//         width: 150px;
//         height: 5px;
//         background: #ddd;
//         outline: none;
//         top: 1px;
//         margin: 10px;

//         & .progress {
//             left: 25%;
//             right: 25%;
//             height: 100%;
//             background: $color-main;
//             border-radius: 50px;
//             position: absolute;
//         }

//         & input[type="range"] {
//             position: absolute;
//             top: -8px;
//             left: -5px;
//             width: 101%;
//             -webkit-appearance: none;
//             -moz-appearance: none;
//             pointer-events: none;
//             background: none;
//             outline: none;
//         }

//         & input::-webkit-slider-thumb {
//             pointer-events: auto;
//             -webkit-appearance: none;
//             -moz-appearance: none;
//             width: 17px;
//             height: 17px;
//             background: $color-main;
//             border-radius: 50px;
//         }

//         & input::-moz-range-thumb {
//             pointer-events: auto;
//             -webkit-appearance: none;
//             -moz-appearance: none;
//             width: 17px;
//             height: 17px;
//             background: $color-main;
//             border-radius: 50px;
//         }
//     }
// }

.price-range__container {
    width: 100%;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.price-range__values {
    width: $full;
    height: $full;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap-20;
    padding-bottom: 20px;

    & .value {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid black;
    }

    & .dash {
        font-size: $text-xl;
    }
}


.price-range {
    width: $full;
    height: 5px;
    background-color: rgb(232, 232, 232);
    border-radius: 20px;

    & .thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $color-main;
        cursor: pointer;
        top: -7px;
        border: none;
    }

    & .track-1 {
        height: $full;
        background-color: $color-main;
    }
}