.filter-block {
    width: $full;
    height: auto;
    padding-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #26262629;

    &__title {
        width: $full;
        height: auto;
        font-size: $text-xl;
        color: $color-main;
        margin-bottom: 8px;
    }

    &__inner {
        width: $full;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: $gap-15;
        padding: 15px 0px;

        & label {
            color: gray;
        }
    }
}