.product-grid {
    width: $full;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-20;
    padding: 30px;

    @include _md {
        grid-template-columns: repeat(2, 1fr);
    }

    @include _base {
        grid-template-columns: repeat(1, 1fr);
    }
}